html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload-but {
  cursor: pointer;
  border: 1px dashed #ccc;
  padding: 12px;
  margin-top: 12px;
  background: #fff;
  font-size: 16px;
}

canvas {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.4) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.4) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.4)
    );
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
#canvas {
  width: 720px;
  height: 540px;
  background: #ccc;
}
.crop-content {
  display: flex;
}
.crop-oper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.crop-oprt-item {
  cursor: pointer;
}
.crop-image-235 {
  width: 282px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
}
.crop-image-1 {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  background-repeat: no-repeat;
}
.active-235 > .crop-oprt-item[data-ratio="2.35"] {
  background-color: #0581f3;
  color: #fff;
}
.active-1 > .crop-oprt-item[data-ratio="1"] {
  background-color: #0581f3;
  color: #fff;
}
