html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px;
  padding: 0px;
  width: 100%;
}
body {
  padding-bottom: 50vh;
}
h1 {
  text-align: center;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mb-12 {
  margin-bottom: 12px;
}
.mt-12 {
  margin-top: 12px;
}
.upload-but {
  display: block;
  cursor: pointer;
  border: 1px dashed #ccc;
  padding: 12px;
  background: #fff;
  font-size: 16px;
  text-align: center;
}

.crop-content {
  display: flex;
}
.crop-oper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 282px;
}
.crop-oprt-item {
  cursor: pointer;
}
.crop-image-235 {
  width: 282px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
}
.crop-image-1 {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
